<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pisces.android.wuha">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mine_icon_delete"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".function.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".main.HomeActivity">-->
       <!---->

        <!--</activity>-->

        <!--================================设置界面============================================-->


        <!--关于我们-->
        <activity android:name="com.pisces.android.wuha.function.setting.AboutUsActivity">

        </activity>

        <!--评分-->
        <activity android:name="com.pisces.android.wuha.function.setting.GradeActivity">

        </activity>

        <!--版本号界面-->
        <activity android:name="com.pisces.android.wuha.function.setting.VersionActivity">

        </activity>

        <!--举报投诉-->
        <activity android:name="com.pisces.android.wuha.function.setting.ReportActivity">

        </activity>

        <!--================================设置界面============================================-->


        <!--================================我的界面============================================-->
        <!--设置主界面-->
        <activity android:name="com.pisces.android.wuha.function.setting.SettingActivity">

        </activity>

        <!--我的收藏-->
        <activity android:name="com.pisces.android.wuha.function.collect.CollectActivity">

        </activity>

        <!--意见建议-->
        <activity android:name="com.pisces.android.wuha.function.personage.MessageActivity">

        </activity>

        <!--联系我们-->
        <activity android:name="com.pisces.android.wuha.function.personage.CallActivity">

        </activity>

        <!--分享app-->
        <activity android:name="com.pisces.android.wuha.function.personage.ShareActivity">

        </activity>

        <!--我的账户-->
        <activity android:name="com.pisces.android.wuha.function.setting.AccountActivity">

        </activity>
        <!--================================我的界面============================================-->

        <!--店铺详情-->
        <activity android:name="com.pisces.android.wuha.function.shop.ShopDetailsActivity">

        </activity>

        <!--搜索界面-->
        <activity android:name=".function.SearchForActivity">

        </activity>


    </application>

</manifest>