<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pisces.android.wuha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--高德地图key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="23725a498c0b75fbb7681d49632435b5" />


        <activity
            android:name=".function.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".function.user.LoginActivity"
            android:screenOrientation="portrait">


        </activity>


        <!--================================设置界面============================================-->


        <!--关于我们-->
        <activity
            android:name="com.pisces.android.wuha.function.setting.AboutUsActivity"
            android:screenOrientation="portrait">

        </activity>


        <!--版本号界面-->
        <activity
            android:name="com.pisces.android.wuha.function.setting.VersionActivity"
            android:screenOrientation="portrait">

        </activity>


        <!--================================设置界面============================================-->


        <!--================================我的界面============================================-->
        <!--设置主界面-->
        <activity
            android:name="com.pisces.android.wuha.function.setting.SettingActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--我的收藏-->
        <activity
            android:name="com.pisces.android.wuha.function.collect.CollectActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--意见建议-->
        <activity
            android:name="com.pisces.android.wuha.function.personage.SuggestActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--联系我们-->
        <activity
            android:name="com.pisces.android.wuha.function.personage.CallActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--分享app-->
        <activity
            android:name="com.pisces.android.wuha.function.personage.ShareActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--我的账户-->
        <activity
            android:name="com.pisces.android.wuha.function.setting.AccountActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--================================我的界面============================================-->

        <!--店铺详情-->
        <activity
            android:name="com.pisces.android.wuha.function.shop.ShopDetailsActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--搜索界面-->
        <activity
            android:name=".function.search.SearchForActivity"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>